@import "{}/node_modules/animatewithsass/animate.scss";
$teal: #009688;
$color-primary: $teal;
$pink: #E91E63;
$color-accent: $pink;

.help-message {
  @include fadeIn();

}
.help-card {
  width: 512px;

  .mdl-card__title {
    color: $color-primary;
  }
}

.invoice {
  margin-top: 60px;
  width: 512px;
}

.program-card {
  width: 500px;

  .program-title {
    color: #FFFFFF;
    background-color: $color-primary;
  }

  .selection-choose + .selection-choose {
  margin-left: 30px;
  }
}

.mdl-card + .mdl-card {
  margin-top: 60px;
}

.filter-option {
  padding-right: 30px;
}

.continue {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  margin-top: 60px;
}
