@import "{}/node_modules/animatewithsass/animate.scss";
@import '{zodiase:mdl-assets}/src/_color-definitions.scss';
$color-primary: $palette-teal-500;
@import '{zodiase:mdl}/theme';
$color-primary: unquote("rgb(#{$color-primary})");

.help-message {
  @include fadeIn();

}
.help-card {

  .mdl-card__title {
    color: $color-primary;
  }
}

.invoice {
  margin-top: 60px;
}

.program-card {

  .program-title {
    color: #FFFFFF;
    background-color: $color-primary;
  }

  .selection-choose + .selection-choose {
  margin-left: 30px;
  }
}

.mdl-card + .mdl-card {
  margin-top: 20px;
}

.filter-option {
  padding-right: 30px;
}

.continue {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  margin-top: 60px;
}

